* {
    padding : 0;
    margin: 0;
    box-sizing: border-box;
}


/* start of navbar styling  */




/* end of navbar styling  */





/* start of slider styling  */




/* end of slider styling  */